body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

@font-face {
    font-family: RalewayBold;
    src: url(./fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway-Medium.ttf);
}

*{
    font-family: Raleway;
    color: white;
}

.sectionmain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 150px 200px 150px;
}

#profile{
    width: 150px;
    height: 150px;
}

.heeder{
    display: flex;
    margin-left: 30px;
}

.heeder img{
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-left: 30px;
}

.content{
    margin-left: 30px;
}

.line{
    background: linear-gradient(to right,#D38312 , #A83279); 
    width: 80%;
    height: 3px;
    margin-left: 150px;
}

.headertwo{
    text-align: center;
    margin-top: 200px;
}

.continer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    margin-bottom: 30px;
    margin-top: 40px;
}

.item h3{
    background: -webkit-linear-gradient(45deg,#D38312 10%,#A83279 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}